* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Ubuntu, sans-serif;
}

:root {
    --azul-escuro: rgb(55, 110, 212);
    --azul-claro: rgb(177, 191, 216);
    --azul-escuro-hover: rgb(25, 59, 121);
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 620px;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    padding: 15px;
    margin-bottom: 50px;
}

.cadastro-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.cadastro-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.cadastro-registro label {
    font-size: 18px;
    margin-bottom: 5px;
}

.cadastro-registro input {
    width: 280px;
    height: 30px;
    padding-left: 5px;
    font-size: 17px;
}

.cadastro-registro .input-senha {
    font-size: 25px;
}

.botao-cadastrar {
    margin-top: 20px;
    width: 280px;
    height: 35px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--azul-escuro);
    color: white;
    border-style: none;
    border-radius: 5px;
}

.botao-cadastrar:hover {
    background-color: var(--azul-escuro-hover);
    transition-duration: 0.5s;
    cursor: pointer;
}