.emprestimo-container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.titulo-emprestimo {
    font-size: 1.88rem;
    color: #193B79;
}

.dados-de-emprestimo-container {
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.06rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #193B79;
}

.input-elemento {
    height: 3rem;
    width: 18rem;
    border-radius: 4px;
    padding-left: 0.5rem;
    font-size: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.input-elemento:hover {
    border-color: rgb(0, 195, 255);
}

.botao-avancar {
    border: none;
    margin-top: 1rem;
    height: 3rem;
    width: 18rem;
    border-radius: 4px;
    font-size: 1.3rem;
    color: white;
    border: 1px solid rgb(0, 195, 255);
    background-color: #376ED4;
}

.botao-avancar:hover {
    background-color:#193B79;
    transition-duration: 0.4s;
}