.remocao-de-elemento-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.titulo-remocao {
    font-size: 1.88rem;
    color: #193B79;
}

.input-elemento {
    height: 3rem;
    width: 18rem;
    border-radius: 4px;
    padding-left: 0.5rem;
    font-size: 1rem;
    border: 1px solid black
}

.input-elemento:hover {
    border-color: rgb(0, 195, 255);
}

.botao-remover-elemento {
    border: none;
    margin-left: 0.5rem;
    height: 3rem;
    width: 7rem;
    border-radius: 4px;
    font-size: 1.1rem;
    color: white;
    border: 1px solid rgb(0, 195, 255);
    background-color: #376ED4;
}

.botao-remover-elemento:hover {
    background-color: rgb(206, 29, 29);
    transition-duration: 0.4s;
}

.botao-devolver-elemento {
    border: none;
    margin-left: 0.5rem;
    height: 3rem;
    width: 7rem;
    border-radius: 4px;
    font-size: 1.1rem;
    color: white;
    border: 1px solid rgb(0, 195, 255);
    background-color: #376ED4;
}

.botao-devolver-elemento:hover {
    background-color: #193B79;
    transition-duration: 0.4s;
}