.resultado-da-consulta-container {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.titulo-resultados {
    text-align: center;
    color: rgb(25, 59, 121);
}

.livro-container {
    display: flex;
    padding-left: 17.5rem;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    border-bottom: 4px solid rgb(202, 219, 226);
}

.titulo-livro {
    font-weight: bold;
    color:  rgb(25, 59, 121);
}

.status-indisponibilidade {
    font-weight: bolder;
    color: rgb(228, 23, 23);
}

.status-disponibilidade {
    font-weight: bolder;
    color: rgb(23, 151, 23);
}

.botao-emprestimo {
    border: 1px solid rgb(0, 255, 34);
    height: 1.8rem;
    width: 6rem;
    color: white;
    background: rgb(27, 143, 27);
    cursor: pointer;
}

.botao-emprestimo:hover{
    background-color: rgb(16, 99, 16);
    transition-duration: 0.5s;
}