.resultado-da-consulta-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.livro-container {
    display: flex;
    padding-left: 25rem;
    gap: 2rem;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid black;
}

.titulo-livro {
    font-weight: bold;
    color:  rgb(25, 59, 121);
}